{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-prisma"],
  "overrides": [
    {
      "files": "*.mdc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
